:root {
  --american-blue: #4a406c;
  --purple-navy: #655784;
  --deep-amethyst: #9085a7;
  --glossy-grape: #a499b6;
  --white-coffee: #e4e1d9;
  --anti-flash-white: #f2f5f3;
}

* {
  font-family: "Saira Stencil One", serif;
  margin: 0;
}
/* General styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--white-coffee);
  /* padding-top: 100px; */
  padding: 20px;
}

/* Header styles */
header {
  text-align: center;
  background: linear-gradient(
    90deg,
    #e4e1d9,
    #a499b6,
    #9085a7,
    #655784,
    #4a406c
  );
  color: var(--anti-flash-white);
  border-radius: 0.5rem black;
  transition: all 0.5s ease-in-out;
  box-shadow: inset 0rem 0rem 0.5rem var(--glossy-grape),
    0 0 0.9375rem var(--deep-amethyst);
}

h1 {
  margin: 0;
  color: var(--white-coffee);
}

h2 {
  color: var(--american-blue);
}

.profile-photo {
  width: 200px;
  height: auto;
}

.text-center {
  text-align: center;
}

section {
    margin-bottom: 50px;
  }
  

nav {
  padding: 10px 0;
}
nav a {
  color: var(--american-blue);
  font-size: 25px;
}

li {
  list-style: none;
  padding: 0 20px;
}
nav li {
  display: inline;
  padding: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* card carousel CSS */
.container {
  position: relative;
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}


/* Set the image width and height to 100% and position it absolutely within the card */
#hidden-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 */

/* Footer styles */
footer {
  text-align: center;
  background: linear-gradient(
    90deg,
    #e4e1d9,
    #a499b6,
    #9085a7,
    #655784,
    #4a406c
  );
  color: var(--anti-flash-white);
  border-radius: 0.5rem black;
  transition: all 0.5s ease-in-out;
  box-shadow: inset 0rem 0rem 0.5rem var(--glossy-grape),
    0 0 0.9375rem var(--deep-amethyst);
}

/* Media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {
    background: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background: darkgray;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background: black;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background: darkgray;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background: black;
  }
}


